python-telegram-bot[webhooks,job-queue]>=22.5
firebase-admin==6.4.0
python-dotenv==1.0.1
redis==5.0.1
hiredis==2.3.2
aiohttp==3.9.3
aiodns==3.1.1
cachetools==5.3.2
tenacity==8.2.3
prometheus-client==0.19.0